<h4 class="center">About Me</h4>
<div class="row">
  <div class="col s12 m6 grey-text">
    <p>
      I am Simon, a full-stack developer with a bachelor degree in Computer
      Engineering from
      <a href="http://www.tut.ac.za" target="_blank"
        >Tshwane University of technology</a
      >
      in Pretoria, South Africa.
    </p>
    <p>
      Right after graduating, I have worked for multiple companies from
      different industries as a project manager while doing programming projects
      on the side. In November 2019, I joined
      <a href="https://revature.com/" target="_blank">Revature</a> as a Full
      Stack Developer where I worked in several projects and using below
      technologies:
    </p>
    <div class="col s6">
      <ul>
        <li>Java</li>
        <li>Javascript</li>
        <li>Node JS</li>
        <li>Angular</li>
        <li>Html & CSS</li>
        <li>Materialize CSS</li>
        <li>Bootstrap</li>
      </ul>
    </div>
    <div class="col s6">
      <ul>
        <li>Maven</li>
        <li>Spring</li>
        <li>AWS RDS, S3, EC2</li>
        <li>Oracle SQL</li>
        <li>Hibernate</li>
        <li>Git</li>
      </ul>
    </div>
  </div>
  <div class="col s12 m6 hide-on-med-and-down">
    <img src="../../assets/undraw_developer_activity_bv83.svg" alt="" />
  </div>
</div>
