<h4>My Experience</h4>

<div class="main-container">
  <section id="timeline" class="timeline-outer">
    <div class="container" id="content">
      <div class="row">
        <div class="col s12 m12 l12">
          <ul class="timeline">
            <li class="event" data-date="Nov 2019-Present">
              <h3 class="white-text">Full Stack Developer <a href="https://revature.com" target="_blank">@Revature</a></h3>
                <ul class="grey-text">
                  <li>
                    Extensive experience in building modern and responsive web applications using HTML 5, CSS 3, JavaScript / TypeScript, AJAX, and Angular 8 on the front-end and implemented the server business logic using Java 8.
                  </li>
                  <li>
                    Followed the front-controller design pattern to build HTTP Servlets and Controllers and utilized DAO Design Pattern to set-up the models, how to access, retrieve and update information in the database using JDBC.
                  </li>
                  <li>
                    Designed, normalized and implemented databases using Oracle SQL as RDBMS. Created and configured AWS-RDS as a database for all projects and AWS S3 for data storage.
                  </li>
                  <li>
                    Leveraged Spring frameworks to build REST API, AOP and ORM functionalities.
                  </li>
                </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
