<app-navbar id="navbar"></app-navbar>
<div class="container">
  <section id="title">
    <app-title></app-title>
  </section>
  <section id="about" ngsReveal>
    <app-about></app-about>
  </section>
  <section id="experience" ngsReveal>
    <app-experience></app-experience>
  </section>
</div>
  <section id="projects" ngsReveal>
    <app-projects></app-projects>
  </section>
<div class="container">
  <section id="contact" ngsReveal>
    <app-contact></app-contact>
  </section>
      <p class="center-align"><a class="cyan-text" href="" >Designed by Simon Mpoy LeBaron 2020</a></p> 
</div>
